{% include 'header.twig' %}

{{ style|raw }}

<img src="http://blog.nola.com/michaelkleinschrodt/2008/07/large_WarGamesScene.jpg" alt="war games" >

<div class="hero-unit">
    <div class="row-fluid">
        {%  for thought in thoughts %}
            <blockquote>
                <p>{{ thought.message }}</p>
            </blockquote>
            <hr>
        {%  endfor %}
    </div>
</div>

{{ 'Host: ' ~ app.request.host }}

{% include 'footer.twig' %}